.card-container {
    margin-top: 30px;
}
.card-title-group h1{
    font-size: var(--fontLarge);
    text-align: center;
}
.card-title-group .div{
    border-bottom: 10px solid;
    border-image: var(--pinkGreenGrad)1 0 0 0 stretch;
    border-image-slice: 1;
    max-width: 600px;
    margin: 8px auto;
}

@media screen and (min-width: 460px) {
    .card-border{
        padding: 10px 0;
        border-style: solid;
        border-image: var(--greenPinkGrad) 1 1 1 1 stretch;
        border-width: 2px 5px 2px 20px ;
        max-width: 800px;
        margin: 0 auto;
    }
    .card-title-group, .card-title-group .div{
        margin: 20px;
        max-width: 300px;
    }
    
}
