.form-container{
    max-width: 95%;
    margin: 20px auto;
}
.form{
    background-color: var(--greenColor);
    display: flex;
    flex-direction: column;
}
.form-group1{
    display: flex;
    flex-direction: column;
}
.form-group{
    display: flex;
    flex-direction: column;
}

.form-group1 input{
min-width: 80%;
margin: 15px auto 0;
background-color: rgb(228, 166, 176);
}
.form-group textarea, .form-group button{
    min-width: 80%;
    margin: 15px auto 0;
    background-color: rgb(228, 166, 176);
    }
.form input, .form button{
    min-height: 40px;
}

.form button{
    background: var(--darkColor);
    color: var(--linkColor);
    border: var(--linkColor) 1px solid;
}

.form button:hover{
    background:var(--linkColor) ;
    color: var(--darkColor);
}

@media screen and (min-width: 460px) {
    .form-container{
        max-width: 600px;
    }
    .form-group1{
        flex-direction: row;
    }
    .form{
        
        border-color: var(--pinkColor);
        border-width: 2px 2px 2px 15px;
        border-style: solid;
    }
    .form-group1 input{
        min-width: 30%;
        margin: 15px auto 0;
        background-color: rgb(228, 166, 176);
    }
}

