:root{
    --darkColor : #171219;
    --greenColor: #5DA271;
    --linkColor: #FFE66D;
    --pinkColor: #8E5572;
    --pinkGreenGrad: linear-gradient(to bottom right, #8E5572, #5DA271);
    --greenPinkGrad: linear-gradient(to bottom right, #5DA271, #8E5572);
    --fontMed: 24px;
    --fontSmall: 18px;
    --fontLarge: 32px
}
body {
    font-family: 'Roboto', sans-serif;
    background: var(--darkColor);
    color: white;
  }