.projects-top{
    margin-top: 60px;
}
.projects-container{
    display: flex;
    flex-direction:column;
}
.project-img img{
    max-height: 100px;
}
.project-img{
    margin: 0 auto;
}
.project-title h1{
font-size: var(--fontMed);
text-align: center;
margin: 20px 0;
color: var(--greenColor);
}
.project-desc-container{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 8px;
    text-align: center;
}
.project-link-group{
    max-width: 320px;
    display: flex;
    justify-content: space-around;
    margin: 40px auto;
}
.project-link-group a {
    text-decoration: none;
    color: var(--linkColor);
}

.project-link-group a:hover {
    text-decoration: underline;

}
.projects-list-container{
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}
.projects-list-container h1{
    font-size: var(--fontMed);
    color: var(--pinkColor);
}
.projects-list{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 10px;
    border-style: solid;
    border-image: var(--greenPinkGrad) 1 1 1 1 stretch;
    border-width: 4px;
    gap: 20px;
}
.projects-list a{
    color: var(--linkColor);
    text-decoration: none;
}
.projects-list a:hover{
    text-decoration: underline;
}

.project-tech-list{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 10px auto;
    text-transform: uppercase;
    font-size: small;
    gap: 20px;
    list-style: square;
    justify-content: center;
    border-top: var(--pinkColor) solid;
    border-bottom:  var(--greenColor) solid;
}

@media screen and (min-width: 630px){

    .project-img{
        margin: 20px 30px;
    }
    .project-img img{
        border: var(--pinkColor) 4px solid;
    }
    .project-title h1{
        text-align: left;
        margin: 20px 50px;
        font-size: var(--fontLarge);
    }
    .project-desc-container{
        text-align: left;
        margin: 0 40px;
        border-image: var(--pinkGreenGrad) 0 0 0 1 stretch;
        border-image-slice: 1;
       border-left: 8px solid;
        justify-content: space-between;
    }
    .project-container{
        display: flex;
        margin-bottom: 50px;
    }
    .projects-list-container{
    max-width: 190px;
    }
    .projects-list-container h1{
        font-size: var(--fontLarge);
    }
    .project-tech-list{
        justify-content: left;
        margin: 10px 0px 10px 60px;
    }
}